.login__logo{
    width:100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    margin-bottom: 20px;

}


.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 100vh;

}

.login_container{
    border: 1px solid lightgray;
    margin-bottom: 10px;
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 300px;

}

.login_container > h1{
    font-weight: 500;
    margin-bottom: 20px;
    

}
.login_container >form >h5{
    margin-bottom: 5px;
}

.login_container >form >input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}
.login_container >p {
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 10px;
}